#confirmModal.modal(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title BINK! Confirmation
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        p#confirm-text ...
      .modal-footer
        button#noButton.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
        button#yesButton.btn.btn-primary(type='button') Confirm
