a#adminMenu.nav-link.dropdown-toggle(href='javascript:' role='button' data-bs-toggle='dropdown' aria-expanded='false')
  | Admin
ul.dropdown-menu#adminDropdown
  li
    a#newButton.dropdown-item(href='javascript:') Create Jam
  li
    a#manageButton.dropdown-item(href='javascript:') Manage Entities
  li
    hr.dropdown-divider
  li
    a#logoutButton.dropdown-item(href='javascript:') Log out