a#adminMenu.nav-link.dropdown-toggle(role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
  | Admin
.dropdown-menu(aria-labelledby='adminMenu')
  a#newButton.dropdown-item Create New
  .dropdown-divider
  a#logoutButton.dropdown-item Logout
