a#adminMenu.nav-link.dropdown-toggle(href="javascript:", role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
  | Admin
.dropdown-menu(aria-labelledby='adminMenu')
  a#newButton(href="javascript:").dropdown-item Create New
  .dropdown-divider
  a#logoutButton(href="javascript:").dropdown-item Logout
