if (jam.tracks && jam.tracks.length > 0)
  table.table#trackTable
else
  em No tracks.
.row.mt-3
  .col
    h6 Add Audio
    .row
      .col
        #theZone.border.p-2 Drag and Drop tracks here or click to browse...
