if (thisjam.pictures && thisjam.pictures.length > 0)
  #scrollableContainer.overflow-scroll.text-nowrap
    for pic in thisjam.pictures
      .pictureHolder.p-3(class=(thisjam.defpic === pic.id ? "border" : ""))
        img(src=pic.path).mw-100
        p.float-end
          a(href="javascript:deletePic('" + pic.id + "');")
            i.far.fa-trash-alt.me-1
          a(href=pic.path)
            i.fa-solid.fa-download.me-1
          a(href="javascript:setDefaultPic('" + pic.id + "');")
            i.fa-solid.fa-check-circle
  p Scroll left and right to edit pictures.
else
  em No pictures.
a(href="javascript:syncMedia('pics')").float-end
  i.fa-solid.fa-phone-alt.mr-3
a(href="javascript:reloadPicsSection('" + thisjam.id + "');").float-end
  i.fa-solid.fa-sync.mr-3
