if (thisjam.pictures && thisjam.pictures.length > 0)
  #scrollableContainer
    for pic in thisjam.pictures
      .pictureHolder.p-3(class=(thisjam.defpic === pic.id ? "border" : ""))
        img(src=pic.path).mw-100
        p.float-right
          a(href="javascript:deletePic('" + pic.id + "');")
            i.far.fa-trash-alt.mr-1
          a(href=pic.path)
            i.fas.fa-download.mr-1
          a(href="javascript:setDefaultPic('" + pic.id + "');")
            i.fas.fa-check-circle
  p Scroll left and right to edit pictures.
  a(href="javascript:reloadPicsSection('" + thisjam.id + "');").float-right
    i.fas.fa-sync
else
  em No pictures.
a(href="javascript:syncMedia('pics')").float-right
  i.fas.fa-phone-alt.mr-1
