//Bootstrap Table -- for showing tables, most notably in the "browse" and "search" functions
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.22.4/bootstrap-table.min.js' integrity='sha512-8kS4yn/O1eS/Dq7nHWS4erjqdUnTtyQgFmRExjx6Qu0NtGbOlbp2uO4Tj/ebTKj/fVf/uWyLHvMgNPg+tsnpbw==' crossorigin='anonymous' referrerpolicy='no-referrer')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.22.4/bootstrap-table.min.css" integrity="sha512-7baiIRsWC9O5cLDaPKElCgAWUFNlYBAYhtJWOuHvKFagRu93EjjszpxmHtYmNB6hwarYrk8ztwgn/rK6D1bPLQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
