//Bootstrap Table -- for showing tables, most notably in the "browse" and "search" functions
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.23.1/bootstrap-table.min.js' integrity='sha512-yEWLfbfoEHcCfukw4rgzgG63ApKWxoLqfozDjPeCWF+6NhpJb2oTZmc9XV1tUwZlELmwcvGIGEhaUV/N1MfwDw==' crossorigin='anonymous' referrerpolicy='no-referrer')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.23.1/bootstrap-table.min.css" integrity="sha512-gWZc5nxii+xjbl07blg0gJ0ifNhxdicYlD/ckJA2g2eubXGqTwhn/WmC9qiASkkh840ZTgduL0lI/YijYo4moQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
