//Bootstrap Table -- for showing tables, most notably in the "browse" and "search" functions
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.22.6/bootstrap-table.min.js' integrity='sha512-UtciDgel0Ni5fY/wxn5RSaTvt89MCtv9RaLAuQLLJRs2olhj3G16xgtoQLLK3AmotuNgpdDr/B5BAyS180n5Qw==' crossorigin='anonymous' referrerpolicy='no-referrer')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.22.6/bootstrap-table.min.css" integrity="sha512-qj9OEpICeM/CcdrBiQjGXRUQukr+yYkv2JD7flx4k3/LLXDCor1JE801vhAVdQpmco2JFCXqIuIiXimONoUX0Q==" crossorigin="anonymous" referrerpolicy="no-referrer")
