//Bootstrap Table -- for showing tables, most notably in the "browse" and "search" functions
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.24.1/bootstrap-table.min.js' integrity='sha512-SluUb5Wij76laheDMpw6UZXUuvefcSa3wbeMZoAzEwc8Fe9aVqUwAhG1n2FPDnZh8bExgmx5H6N3k2xzrd1nuQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.23.1/bootstrap-table.min.css" integrity="sha512-gWZc5nxii+xjbl07blg0gJ0ifNhxdicYlD/ckJA2g2eubXGqTwhn/WmC9qiASkkh840ZTgduL0lI/YijYo4moQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
