// Bootstrap Autocomplete -- musicians, bands, instruments, producers, locations
script(src='https://cdn.jsdelivr.net/npm/bootstrap-autocomplete@2.3.7/dist/latest/bootstrap-autocomplete.min.js' integrity='sha256-yYoz9OwGJUuV2927SrBHgg/bdqOF6oA0v781vA0/0FU=' crossorigin='anonymous' referrerpolicy='no-referrer')
