//Dropzone.js -- will be used to upload files as an admin
script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js' integrity='sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
