script(async src='https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=marker&loading=async&key=' + googleMapsApiKey, crossorigin='anonymous')
script(type='text/javascript')
  | function initMap() {}
