// Moment.js -- used for handling the dates in date selection in the Admin UI
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js' integrity='sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA==' crossorigin='anonymous' referrerpolicy='no-referrer')
