// Tempus Dominus -- a great little Bootstrap-oriented date selector for the admin UI
script(src='https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/js/tempus-dominus.min.js' crossorigin='anonymous')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/css/tempus-dominus.min.css' crossorigin='anonymous')
