[Unit]
Description=BINK.js System Server
After=mysql.service
Requires=mysql.service
Wants=nginx.service

[Service]
ExecStart=/usr/bin/nodejs /srv/www/js.binkmusic.com/server.js
WorkingDirectory=/srv/www/js.binkmusic.com
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
