{
	"mysql": {
		"host": "localhost",
		"user": "user",
		"port": 3306,
		"password": "password",
		"database": "binkjs"
	},
	"s3": {
		"public_base_url": "https://s3.amazonaws.com/binkmedia-test/public/",
		"bucket_name": "binkmedia-test",
		"bucket_region": "us-east-1"
	},
	"uploads": {
		"destination": "/some/temporary/directory",
		"mimetypes": {
			"audio/mpeg": {
				"table": "tracks",
				"dir": "snd"
			},
			"video/mpeg": {
				"table": "video",
				"dir": "video"
			},
			"image/jpeg": {
				"table": "pictures",
				"dir": "pics"
			}
		}
	},
	"maps": "INSERT_GOOGLE_API_KEY_HERE",
	"admin_password": "mypassword",
	"session_secret": "INSERT RANDOMIZED STRING",
	"cookie": {
		"secure": true,
		"sameSite": true
	},
	"logLevel": "debug"
}
