{
	"mysql": {
		"host": "localhost",
		"user": "user",
		"port": 3306,
		"password": "password",
		"database": "binkjs"
	},
	"s3": {
		"public_base_url": "https://s3.amazonaws.com/binkmedia-test/public/",
		"bucket_name": "binkmedia-test",
		"bucket_region": "us-east-1"
	},
	"tmpuploads": "/some/temporary/directory",
	"maps": "INSERT_GOOGLE_API_KEY_HERE",
	"admin_password": "mypassword",
	"session_secret": "INSERT RANDOMIZED STRING",
	"cookie": {
		"secure": true,
		"sameSite": true
	},
	"logLevel": "debug",
	"podcast": {
		"title": "BINK!",
		"description": "A listing of BINK's latest postings",
		"language": "en",
		"managingEditor": "Ben Smith",
		"webMaster": "Ben Smith",
		"author": "Various",
		"copyright": "2010-2021",
		"image_url": "https://binkmusic.com/img/header.jpg",
		"docs": "https://binkmusic.com",
		"feed_url": "https://binkmusic.com/podcast",
		"site_url": "https://binkmusic.com"
	}
}
