{
	"mysql":
	{
		"host": "localhost",
		"user": "user",
		"port": 3306,
		"password": "password",
		"database": "bink"		
	},
	"media_s3_url": "https://s3.amazonaws.com/binkmedia/public/",
	"maps": "INSERT_GOOGLE_API_KEY_HERE",
	"twitter":
	{
		"consumer_key": "SOMETHING",
  		"consumer_secret": "SOMETHING",
  		"access_token_key": "SOMETHING",
  		"access_token_secret": "SOMETHING"
	},
	"admin_password": "mypassword"
}
