doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title BINK.js #{version}
    //jQuery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    //Bootstrap 4 requires Popper for Modals I think
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    //The bootstrap javascript library
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    //Bootstrap DARKLY Theme -- should not need further customization!
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/darkly/bootstrap.min.css', integrity='sha256-bhD4/DdCApNAYlOpvKssUa2hD0Du8xrgOvtY4w25shM=', crossorigin='anonymous')
    //FontAwesome Icons/Sprites usable with Bootstrap
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
    // jPlayer from CDN
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/add-on/jplayer.playlist.js')
    link(href='css/jplayer.blue.monday.css', rel='stylesheet')
    // Custom CSS that BINK uses
    link(href='css/bink.css', rel='stylesheet')
    // The BINK Client-side JavaScript Application
    script(src='js/bink.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-primary
      a.navbar-brand(href='#') BINK v#{version}
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a#recentButton.nav-link(href='#recent')
              | Recent
              span.sr-only (current)
          li.nav-item
            a#browseButton.nav-link(href='#browse')
              | Browse
          li.nav-item
            a#historyButton.nav-link(href='#history')
              | History
          li.nav-item
            a#playlistButton.nav-link(href='#playlist')
              | Playlist
          li.nav-item
            a#mapButton.nav-link(href='#map')
              | Map
          li.nav-item
            a#twitterButton.nav-link(href='#tweets')
              | Status
          li#adminItem.nav-item.dropdown
            a#adminButton.nav-link.dropdown-toggle(href='#admin', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Admin
    #jquery_jplayer_1
    #jp_container_1.jp-audio(role='application', aria-label='media player')
      .jp-type-single
        .jp-gui.jp-interface
          .jp-controls-holder
            .jp-volume-controls
              button.jp-mute(role='button', tabindex='0') mute
              button.jp-volume-max(role='button', tabindex='0')
                | max
                | volume
              .jp-volume-bar
                .jp-volume-bar-value
            .jp-controls
              button.jp-play(role='button', tabindex='0') play
              button.jp-stop(role='button', tabindex='0') stop
            .jp-other
              .jp-current-time(role='timer', aria-label='time')  
              .jp-duration(role='timer', aria-label='duration')  
              .jp-toggles
                button.jp-repeat(role='button', tabindex='0') repeat
            .jp-progress
              .jp-seek-bar
                .jp-play-bar
        .jp-details
          .jp-title(aria-label='title')  
        .jp-no-solution
          span Update Required
          |  To play the media you will need to
          | 				either update your browser to a recent version or update your
          a(href='http://get.adobe.com/flashplayer/', target='_blank')
            | Flash
            | plugin
          | .
    #sidebar-wrapper.collapse
      ul#the-playlist.sidebar-nav
        li.sidebar-brand
          a  Playlist
    // Modal for Admin Login
    #adminModal.modal.fade(tabindex='-1', role='dialog', data-keyboard='false', aria-labelledby='adminModal')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#loginModalLabel.modal-title Login
          .modal-body
            #modalAlert
            form
              .form-group
                label.form-control-label(for='password') Password:
                input#password.form-control(type='password', autofocus="true")
          .modal-footer
            button.btn.btn-primary#loginButton(type='button') Login
    #alertModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#thisAlertTitle.modal-title Alert
          #thisAlert.modal-body ...
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    #main.main.pb-5
