#loginModal.modal(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title BINK! Login
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        p Please login for BINK! Administration
        #alert-container
        form
          .form-group
            label.col-form-label(for='password') Password:
            input#password.form-control(type='password')
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
        button#loginButton.btn.btn-primary(type='button') Login
