#loginModal.modal(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5.modal-title BINK! Login
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        p Please login for BINK! Administration.
        #alert-container
        form
          .form-group
            label.col-form-label(for='password') Password:
            input#password.form-control(type='password')
      .modal-footer
        button.btn.btn-primary#loginButton(type='button') Login
        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
