/*
 * Base structure
 */

/*
 * BINK Styles
 */
.linkish {
	cursor: pointer;
}

.mapviewer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.timeline {
	position: absolute;
	width: 100%;
	height: 80%;
}

.invisible {
  height: 0px;
}
