nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  a.navbar-brand(href='#') BINK
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a#recentButton.active.nav-link.linkish(href='#recent') Recent
      li.nav-item
        a#browseButton.nav-link.linkish(href='#browse') Browse
      li.nav-item
        a#historyButton.nav-link.linkish(href='#history') History
      li.nav-item
        a#playlistButton.nav-link.linkish(href='#playlist') Playlist
      li.nav-item
        a#timelineButton.nav-link.linkish(href='#timeline') Timeline
      li.nav-item
        a#mapButton.nav-link.linkish(href='#map') Map
      li.nav-item
        a#twitterButton.nav-link.linkish(href='#tweets') Tweets
      li.nav-item#adminItem
        a#adminButton.nav-link.linkish Admin
      form.form-inline
        input#search.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
